/*<p> CSS*/
p {
text-align: justify;
text-justify: inter-word;
font-family: courier-new, garamond, times-new-roman;
font-size: 16px;
color: black;
}

p.title {
    font-family: courier-new, garamond, times-new-roman;
    text-align:center;
}

p.docImprint {
    font-family: courier-new, garamond, times-new-roman;
    text-align:center;
}

p.docDate {
    font-family: courier-new, garamond, times-new-roman;
    text-align:center;
}

p.stage {
    font-family: courier-new, garamond, times-new-roman;
    text-align:center;
}

p.stageJustify {
    font-family: courier-new, garamond, times-new-roman;
    text-align:justify;
}

p.closer {
    font-family: courier-new, garamond, times-new-roman;
    text-align:right;
}

p.byline {
    font-family: courier-new, garamond, times-new-roman;
    text-align: center;
}

p.editorial {
    font-family: courier-new, garamond, times-new-roman;
color:black;  
line-height: 1.5;
}

p.center {
    font-family: courier-new, garamond, times-new-roman;
    text-align:center;
}


/*table CSS*/
table {
    font-family: courier-new, garamond, times-new-roman;
    table-layout:auto;
    width:50%;
    column-gap:40px;
    float:center;
}

td {
    font-family: courier-new, garamond, times-new-roman;
    text-align:justify;
}

td.right {
    font-family: courier-new, garamond, times-new-roman;
    text-align:center;
}


/*button CSS*/
div.button {
    display:flex;
    align-items:center;
    margin: auto;
    width: 175%;
}

button {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 40px;
   border: 2px solid black;
   font-family: courier-new, garamond, times-new-roman;
   text-align: center;
}


/*heading CSS*/
h2 {
    font-family: courier-new, garamond, times-new-roman;
    text-align:center;
}

h3 {
font-family: courier-new, garamond, times-new-roman;
text-decoration: underline;
text-align:center;
}

h4 {
    font-family: courier-new, garamond, times-new-roman;
    text-align:center;
}

h5 {
    font-family: courier-new, garamond, times-new-roman;
    text-align:center;
    font-size:16pt;
}


/*<img> CSS*/
img.index {
    width: 100%;
    height: auto;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:25px;
    padding-left:none;
    padding-right:none;
    padding-top:none;
    display:block;
}

img {
    padding-bottom:25px;
    padding-top:25px;
    padding-right:25px;
    padding-left: 50px;
    width:500px;
    float:left;
    clear:both;
}

/*other CSS*/
div.notes {
  font-family: courier-new, garamond, times-new-roman;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;   
}

body {
    font-family: courier-new, garamond, times-new-roman;
background-color: tan;
margin-right:125px;
margin-left:125px;
padding:75px;
}

html {
background-color:black;
}

author {
    font-family: courier-new, garamond, times-new-roman;
    text-align:center
}

hr {
    color: black;
    clear:both;
    padding-bottom:25px;
}
